In [24]:
import pandas as pd
df = pd.read_csv('StudentMark.csv')
df

   Gender  Attendent  Lecture  Lab Grade  Unnamed: 5  Unnamed: 6  Unnamed: 7
0     ພຣະ         10     29.0   24     C         NaN         NaN         NaN
1     ນາງ          2      0.0    0     F         NaN         NaN         NaN
2     ນາງ         10     31.0   27    C+         NaN         NaN         NaN
3     ນາງ         10     49.0   38     A         NaN         NaN         NaN
4     ນາງ         10     31.0   29     B         NaN         NaN         NaN
5     ນາງ         10     39.0   37     A         NaN         NaN         NaN
6     ນາງ         10     37.0   31    B+         NaN         NaN         NaN
7     ນາງ         10     34.0   27     B         NaN         NaN         NaN
8     ນາງ         10     36.0   32    B+         NaN         NaN         NaN
9     ນາງ         10     32.0   36    B+         NaN         NaN         NaN
10    ນາງ         10     31.0   28    C+         NaN         NaN         NaN
11   ທ້າວ         10     36.0   32    B+         NaN         NaN         NaN
12    ນາງ         10     33.0   32    B+         NaN         NaN         NaN
13    ນາງ         10     38.0   36     A         NaN         NaN         NaN
14   ທ້າວ         10     28.0   23     C         NaN         NaN         NaN
15   ທ້າວ         10     33.0   37     A         NaN         NaN         NaN
16   ທ້າວ         10     30.0   31     B         NaN         NaN         NaN
17   ທ້າວ          6     29.0   37     B         NaN         NaN         NaN
18   ທ້າວ          4     24.0   14     F         NaN         NaN         NaN
19   ທ້າວ         10     44.0   35     A         NaN         NaN         NaN
20   ທ້າວ         10     30.0   29    C+         NaN         NaN         NaN
21   ທ້າວ         10     42.0   40     A         NaN         NaN         NaN
22   ທ້າວ         10     35.0   28     B         NaN         NaN         NaN
23   ທ້າວ          6     21.0    8     F         NaN         NaN         NaN
24   ທ້າວ          0      NaN    0     F         NaN         NaN         NaN
25   ທ້າວ          8     27.0   30    C+         NaN         NaN         NaN
26   ທ້າວ         10     39.0   38     A         NaN         NaN         NaN
27   ທ້າວ          6     26.0   18     D         NaN         NaN         NaN
28   ທ້າວ          6     29.0   31    C+         NaN         NaN         NaN
29   ທ້າວ         10     35.0   32    B+         NaN         NaN         NaN
30   ທ້າວ         10     23.0   27     C         NaN         NaN         NaN
31   ທ້າວ         10     31.0   34    B+         NaN         NaN         NaN
32   ທ້າວ         10     41.0   39     A         NaN         NaN         NaN
33   ທ້າວ         10     25.0   26     C         NaN         NaN         NaN

In [8]:
#ຊອກຫາທັນມີຄາຫວ່າງ
df.loc[:,(df.isnull().any())]

#or
#df3=df.isnull().any()

#or
#null_clums=df.colums[df.isnull().any]
#df[null_colums].isnull().sum()

#or
#df.isnull().sum()

    Lecture  Unnamed: 5  Unnamed: 6  Unnamed: 7
0      29.0         NaN         NaN         NaN
1       0.0         NaN         NaN         NaN
2      31.0         NaN         NaN         NaN
3      49.0         NaN         NaN         NaN
4      31.0         NaN         NaN         NaN
5      39.0         NaN         NaN         NaN
6      37.0         NaN         NaN         NaN
7      34.0         NaN         NaN         NaN
8      36.0         NaN         NaN         NaN
9      32.0         NaN         NaN         NaN
10     31.0         NaN         NaN         NaN
11     36.0         NaN         NaN         NaN
12     33.0         NaN         NaN         NaN
13     38.0         NaN         NaN         NaN
14     28.0         NaN         NaN         NaN
15     33.0         NaN         NaN         NaN
16     30.0         NaN         NaN         NaN
17     29.0         NaN         NaN         NaN
18     24.0         NaN         NaN         NaN
19     44.0         NaN         NaN         NaN
20     30.0         NaN         NaN         NaN
21     42.0         NaN         NaN         NaN
22     35.0         NaN         NaN         NaN
23     21.0         NaN         NaN         NaN
24      NaN         NaN         NaN         NaN
25     27.0         NaN         NaN         NaN
26     39.0         NaN         NaN         NaN
27     26.0         NaN         NaN         NaN
28     29.0         NaN         NaN         NaN
29     35.0         NaN         NaN         NaN
30     23.0         NaN         NaN         NaN
31     31.0         NaN         NaN         NaN
32     41.0         NaN         NaN         NaN
33     25.0         NaN         NaN         NaN

In [25]:
df=df.replace({None:0})
df

   Gender  Attendent  Lecture  Lab Grade  Unnamed: 5  Unnamed: 6  Unnamed: 7
0     ພຣະ         10     29.0   24     C         NaN         NaN         NaN
1     ນາງ          2      0.0    0     F         NaN         NaN         NaN
2     ນາງ         10     31.0   27    C+         NaN         NaN         NaN
3     ນາງ         10     49.0   38     A         NaN         NaN         NaN
4     ນາງ         10     31.0   29     B         NaN         NaN         NaN
5     ນາງ         10     39.0   37     A         NaN         NaN         NaN
6     ນາງ         10     37.0   31    B+         NaN         NaN         NaN
7     ນາງ         10     34.0   27     B         NaN         NaN         NaN
8     ນາງ         10     36.0   32    B+         NaN         NaN         NaN
9     ນາງ         10     32.0   36    B+         NaN         NaN         NaN
10    ນາງ         10     31.0   28    C+         NaN         NaN         NaN
11   ທ້າວ         10     36.0   32    B+         NaN         NaN         NaN
12    ນາງ         10     33.0   32    B+         NaN         NaN         NaN
13    ນາງ         10     38.0   36     A         NaN         NaN         NaN
14   ທ້າວ         10     28.0   23     C         NaN         NaN         NaN
15   ທ້າວ         10     33.0   37     A         NaN         NaN         NaN
16   ທ້າວ         10     30.0   31     B         NaN         NaN         NaN
17   ທ້າວ          6     29.0   37     B         NaN         NaN         NaN
18   ທ້າວ          4     24.0   14     F         NaN         NaN         NaN
19   ທ້າວ         10     44.0   35     A         NaN         NaN         NaN
20   ທ້າວ         10     30.0   29    C+         NaN         NaN         NaN
21   ທ້າວ         10     42.0   40     A         NaN         NaN         NaN
22   ທ້າວ         10     35.0   28     B         NaN         NaN         NaN
23   ທ້າວ          6     21.0    8     F         NaN         NaN         NaN
24   ທ້າວ          0      NaN    0     F         NaN         NaN         NaN
25   ທ້າວ          8     27.0   30    C+         NaN         NaN         NaN
26   ທ້າວ         10     39.0   38     A         NaN         NaN         NaN
27   ທ້າວ          6     26.0   18     D         NaN         NaN         NaN
28   ທ້າວ          6     29.0   31    C+         NaN         NaN         NaN
29   ທ້າວ         10     35.0   32    B+         NaN         NaN         NaN
30   ທ້າວ         10     23.0   27     C         NaN         NaN         NaN
31   ທ້າວ         10     31.0   34    B+         NaN         NaN         NaN
32   ທ້າວ         10     41.0   39     A         NaN         NaN         NaN
33   ທ້າວ         10     25.0   26     C         NaN         NaN         NaN

In [26]:
#add total using (A+L+L)
df['Total']=df['Attendent']+df['Lecture']+df['Lab']
df

,Gender,Attendent,Lecture,Lab,Grade,Unnamed: 5,Unnamed: 6,Unnamed: 7,Total
0,ພຣະ,10,29.0,24,C,NaN,NaN,NaN,63.0
1,ນາງ,2,0.0,0,F,NaN,NaN,NaN,2.0
2,ນາງ,10,31.0,27,C+,NaN,NaN,NaN,68.0
3,ນາງ,10,49.0,38,A,NaN,NaN,NaN,97.0
4,ນາງ,10,31.0,29,B,NaN,NaN,NaN,70.0
5,ນາງ,10,39.0,37,A,NaN,NaN,NaN,86.0
6,ນາງ,10,37.0,31,B+,NaN,NaN,NaN,78.0
7,ນາງ,10,34.0,27,B,NaN,NaN,NaN,71.0
8,ນາງ,10,36.0,32,B+,NaN,NaN,NaN,78.0
9,ນາງ,10,32.0,36,B+,NaN,NaN,NaN,78.0
10,ນາງ,10,31.0,28,C+,NaN,NaN,NaN,69.0
11,ທ້າວ,10,36.0,32,B+,NaN,NaN,NaN,78.0
12,ນາງ,10,33.0,32,B+,NaN,NaN,NaN,75.0
13,ນາງ,10,38.0,36,A,NaN,NaN,NaN,84.0
14,ທ້າວ,10,28.0,23,C,NaN,NaN,NaN,61.0
15,ທ້າວ,10,33.0,37,A,NaN,NaN,NaN,80.0
16,ທ້າວ,10,30.0,31,B,NaN,NaN,NaN,71.0
17,ທ້າວ,6,29.0,37,B,NaN,NaN,NaN,72.0
18,ທ້າວ,4,24.0,14,F,NaN,NaN,NaN,42.0
19,ທ້າວ,10,44.0,35,A,NaN,NaN,NaN,89.0
20,ທ້າວ,10,30.0,29,C+,NaN,NaN,NaN,69.0
21,ທ້າວ,10,42.0,40,A,NaN,NaN,NaN,92.0
22,ທ້າວ,10,35.0,28,B,NaN,NaN,NaN,73.0
23,ທ້າວ,6,21.0,8,F,NaN,NaN,NaN,35.0
24,ທ້າວ,0,NaN,0,F,NaN,NaN,NaN,NaN
25,ທ້າວ,8,27.0,30,C+,NaN,NaN,NaN,65.0
26,ທ້າວ,10,39.0,38,A,NaN,NaN,NaN,87.0
27,ທ້າວ,6,26.0,18,D,NaN,NaN,NaN,50.0
28,ທ້າວ,6,29.0,31,C+,NaN,NaN,NaN,66.0
29,ທ້າວ,10,35.0,32,B+,NaN,NaN,NaN,77.0
30,ທ້າວ,10,23.0,27,C,NaN,NaN,NaN,60.0
31,ທ້າວ,10,31.0,34,B+,NaN,NaN,NaN,75.0
32,ທ້າວ,10,41.0,39,A,NaN,NaN,NaN,90.0
33,ທ້າວ,10,25.0,26,C,NaN,NaN,NaN,61.0

In [34]:
#drop rows
df.drop(['Total'],axis=1,inplace=True)
df

   Gender  Attendent  Lecture  Lab Grade
0     ພຣະ         10     29.0   24     C
1     ນາງ          2      0.0    0     F
2     ນາງ         10     31.0   27    C+
3     ນາງ         10     49.0   38     A
4     ນາງ         10     31.0   29     B
5     ນາງ         10     39.0   37     A
6     ນາງ         10     37.0   31    B+
7     ນາງ         10     34.0   27     B
8     ນາງ         10     36.0   32    B+
9     ນາງ         10     32.0   36    B+
10    ນາງ         10     31.0   28    C+
11   ທ້າວ         10     36.0   32    B+
12    ນາງ         10     33.0   32    B+
13    ນາງ         10     38.0   36     A
14   ທ້າວ         10     28.0   23     C
15   ທ້າວ         10     33.0   37     A
16   ທ້າວ         10     30.0   31     B
17   ທ້າວ          6     29.0   37     B
18   ທ້າວ          4     24.0   14     F
19   ທ້າວ         10     44.0   35     A
20   ທ້າວ         10     30.0   29    C+
21   ທ້າວ         10     42.0   40     A
22   ທ້າວ         10     35.0   28     B
23   ທ້າວ          6     21.0    8     F
24   ທ້າວ          0      NaN    0     F
25   ທ້າວ          8     27.0   30    C+
26   ທ້າວ         10     39.0   38     A
27   ທ້າວ          6     26.0   18     D
28   ທ້າວ          6     29.0   31    C+
29   ທ້າວ         10     35.0   32    B+
30   ທ້າວ         10     23.0   27     C
31   ທ້າວ         10     31.0   34    B+
32   ທ້າວ         10     41.0   39     A
33   ທ້າວ         10     25.0   26     C

In [36]:
#add colums to nes rows, by number array
df.insert(4,'Total',df['Attendent']+df['Lecture']+df['Lab'])
df

#or
#df['Total']=df[['Attendent','Lecture','Lab']].sum(axise=1)
#df=df.assign(Totals=df.Attendent+df.Lecture+df.Lab)

   Gender  Attendent  Lecture  Lab  Total Grade
0     ພຣະ         10     29.0   24   63.0     C
1     ນາງ          2      0.0    0    2.0     F
2     ນາງ         10     31.0   27   68.0    C+
3     ນາງ         10     49.0   38   97.0     A
4     ນາງ         10     31.0   29   70.0     B
5     ນາງ         10     39.0   37   86.0     A
6     ນາງ         10     37.0   31   78.0    B+
7     ນາງ         10     34.0   27   71.0     B
8     ນາງ         10     36.0   32   78.0    B+
9     ນາງ         10     32.0   36   78.0    B+
10    ນາງ         10     31.0   28   69.0    C+
11   ທ້າວ         10     36.0   32   78.0    B+
12    ນາງ         10     33.0   32   75.0    B+
13    ນາງ         10     38.0   36   84.0     A
14   ທ້າວ         10     28.0   23   61.0     C
15   ທ້າວ         10     33.0   37   80.0     A
16   ທ້າວ         10     30.0   31   71.0     B
17   ທ້າວ          6     29.0   37   72.0     B
18   ທ້າວ          4     24.0   14   42.0     F
19   ທ້າວ         10     44.0   35   89.0     A
20   ທ້າວ         10     30.0   29   69.0    C+
21   ທ້າວ         10     42.0   40   92.0     A
22   ທ້າວ         10     35.0   28   73.0     B
23   ທ້າວ          6     21.0    8   35.0     F
24   ທ້າວ          0      NaN    0    NaN     F
25   ທ້າວ          8     27.0   30   65.0    C+
26   ທ້າວ         10     39.0   38   87.0     A
27   ທ້າວ          6     26.0   18   50.0     D
28   ທ້າວ          6     29.0   31   66.0    C+
29   ທ້າວ         10     35.0   32   77.0    B+
30   ທ້າວ         10     23.0   27   60.0     C
31   ທ້າວ         10     31.0   34   75.0    B+
32   ທ້າວ         10     41.0   39   90.0     A
33   ທ້າວ         10     25.0   26   61.0     C